annotated-types==0.7.0
beautifulsoup4==4.12.3
boto3==1.35.39
botocore==1.35.39
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
jmespath==1.0.1
joblib==1.4.2
markdownify==0.11.6
minsearch==0.0.2
numpy==1.26.3
pandas==2.2.3
pydantic==2.9.2
pydantic_core==2.23.4
python-dateutil==2.9.0.post0
python-jobspy==1.1.69
pytz==2024.2
regex==2024.9.11
requests==2.32.3
s3transfer==0.10.3
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
soupsieve==2.6
threadpoolctl==3.5.0
tls-client==1.0.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
