aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
altair==5.2.0
annotated-types==0.6.0
ansi2html==1.8.0
anyio==4.3.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
asyncpg==0.29.0
attrs==24.2.0
AWSIoTPythonSDK==1.5.4
Babel==2.15.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
blobfile==2.1.1
boto3==1.34.83
botocore==1.34.83
bs4==0.0.2
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
dash==2.14.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
debugpy==1.8.0
decorator==5.1.1
deep-translator==1.11.4
defusedxml==0.7.1
Deprecated==1.2.14
dirtyjson==1.0.8
distlib==0.3.7
distro==1.9.0
Django==4.2.3
dnspython==2.6.1
dominate==2.9.0
executing==2.0.1
fairscale==0.4.13
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.46.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.6
importlib-metadata==6.11.0
ipykernel==6.27.1
ipython==8.18.1
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
json_strong_typing==0.3.4
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
langchain==0.2.9
langchain-community==0.2.7
langchain-core==0.2.21
langchain-experimental==0.0.62
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
langsmith==0.1.90
llama-index-core==0.10.57
llama-index-vector-stores-postgres==0.1.12
llama_models==0.0.1
lxml==4.9.4
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
motor==3.4.0
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
neo4j==5.19.0
nest-asyncio==1.5.8
networkx==3.3
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.2
openai==1.35.15
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.1
parso==0.8.3
pexpect==4.9.0
pgvector==0.2.5
Pillow==10.1.0
platformdirs==4.1.0
plotly==5.18.0
prometheus_client==0.20.0
prompt-toolkit==3.0.41
protobuf==4.25.1
psutil==5.9.6
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic==1.10.13
pydantic_core==2.18.2
pydeck==0.8.1b0
Pygments==2.17.2
pymongo==4.6.2
PyMySQL==1.1.1
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.2
QtPy==2.4.1
redis==5.0.1
referencing==0.32.0
regex==2024.5.15
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.13.2
s3transfer==0.10.1
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
selenium==4.24.0
Send2Trash==1.8.3
setuptools==69.0.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spire==0.4.2
spotipy==2.23.0
SQLAlchemy==2.0.30
sqlparse==0.5.0
stack-data==0.6.3
streamlit==1.29.0
sympy==1.13.1
tenacity==8.2.3
terminado==0.18.1
threadpoolctl==3.2.0
tiktoken==0.7.0
tinycss2==1.3.0
toml==0.10.2
toolz==0.12.0
torch==2.3.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.0
trio==0.26.2
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
uri-template==1.3.0
urllib3==2.2.1
validators==0.22.0
virtualenv==20.25.0
visitor==0.1.3
wcwidth==0.2.12
webcolors==24.6.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.1
wheel==0.42.0
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
wxPython==4.2.1
yarl==1.9.4
zipp==3.17.0
